   @inherits umbraco.MacroEngines.DynamicNodeContext
                            @{ 
	                            var level = String.IsNullOrEmpty(Parameter.Level) ? 1 : int.Parse(Parameter.Level); 
	                            var parent = @Model.AncestorOrSelf(level);
	                            if (parent != null) {
		                            <ul class="menu">
                                        <li class='@(Model.Name == "Home" ? "selected" : "")'><a href="/">Home</a></li>
		                            @foreach (var item in parent.Children.Where("Visible")) {
			                            var selected = Array.IndexOf(Model.Path.Split(','), item.Id.ToString()) >= 0 ? " class=\"selected\"" : "";
			                            var url = item.Url.Replace(".aspx","");
                                        <li@Html.Raw(selected)>
				                            <a href='@url'>@item.Name</a>
                                                @if(item.Children.Where("Visible").Count() > 0){
                                                    <ul class="subMenu pie">
                                                        @foreach(var subItem in item.Children.Where("Visible"))
                                                        {
                                                            var subUrl = subItem.Url.Replace(".aspx","");
                                                            <li><a href="@subUrl">@subItem.Name</a></li>
                                                        }
                                                    </ul>
                                                }   
                                        </li>
                                        }
		                            </ul>
	                            }
                            }