@using System.Text
@using umbraco

@{
	List<SelectListItem> requestList = new List<SelectListItem>();
	requestList.Add(new SelectListItem {Text="Please Select" });
	requestList.Add(new SelectListItem { Text = "New Construction", Value = "New Construction" });
	requestList.Add(new SelectListItem { Text = "Remodels", Value = "Remodels" });
	requestList.Add(new SelectListItem { Text = "Repairs", Value = "Repairs" });
	requestList.Add(new SelectListItem { Text = "Inspections", Value = "Inspections" });
	requestList.Add(new SelectListItem { Text = "Backflow and Prevention Testing", Value = "Backflow and Prevention Testing" });
	requestList.Add(new SelectListItem { Text = "Design Build", Value = "Design Build" });
	}
<script src="/scripts/jQuery/jquery.maskedinput.min.js" type="text/javascript"></script>
<div id="contact" class="request">
	<form runat="server" id="ContactForm" name="Contact" method="post">
		<fieldset>
			<legend>Contact Us</legend>
			<div class="required">
				<label for="Name">Name</label>@Html.TextBox("Name")
				<div class="ReqErrorMsg">This field is required.</div>
			</div>
			<div class="required">
				<label for="Phone">Phone</label>@Html.TextBox("Phone")
				<div class="ReqErrorMsg">This field is required.</div>
			</div>
			<div class="required">
				<label for="Email">Email</label>@Html.TextBox("Email")
				<div class="ReqErrorMsg">This field is required.</div>
			</div>
			<div class="required">
				<label for="contactMethod">Best way to contact you?</label>
				<div class="radio">
					<label>Email</label>
					@Html.RadioButton("contactMethod", "Email")
					<label>Phone</label>
					@Html.RadioButton("contactMethod", "Phone")
					<div class="ReqErrorMsg">This field is required.</div>
				</div>
			</div>
			<div class="required">
				<label for="contactTime">Best time to contact you?</label>
				<div class="radio">
					<label>AM</label>
					@Html.RadioButton("contactTime", "AM")
					<label>PM</label>
					@Html.RadioButton("contactTime", "PM")
					<div class="ReqErrorMsg">This field is required.</div>
				</div>
			</div>
			<div class="required">
				<label for="RequestType">Type of Service Needed</label>
				@Html.ListBox("RequestType", requestList)
				<div class="ReqErrorMsg">This field is required.</div>
			</div>
			<div class="required">
				<label for="Comments">Questions/Comments</label>
				@Html.TextArea("Comments", new { @cols = "40", @rows = "4" })
				<div class="ReqErrorMsg">This field is required.</div>
			</div>
			<div>
				<label for="newsletter">Receive our periodic Newsletter?</label>
				@Html.CheckBox("newsletter", true)
			</div>
			<button type="submit">Submit</button>
		</fieldset>
	</form>
	<div id="right">
		<a href="/contact/emergency-contact"><img src="/css/Images/247emergency.jpg" /></a>
	</div>
	
</div>

@{
	if (IsPost)
	{
		StringBuilder emailBody = new StringBuilder("<h1>Contact Us</h1>");
		bool valid = true;
		string fields = "";
		foreach (string field in this.Request.Form)
		{
			if (string.IsNullOrEmpty(this.Request.Form.GetValues(field).First()))
			{
				valid = false;
				fields += (fields.Length > 0) ? ", #" + field : "#" + field; 
				<script>
					(function () { $("#@field").siblings(".ReqErrorMsg").show(); })();
				</script>
				
				//continue;
			}
			else
			{
				<script>
					(function () { $("#@field").siblings(".ReqErrorMsg").hide(); })();
				</script>		
				emailBody.AppendFormat("<b>{0}:</b> {1}<br />", field, this.Request.Form.GetValues(field).First());
			}
		}

		if (valid)
		{
			library.SendMail("jonathan.c.read@gmail.com",
				"jonathan.c.read@gmail.com",
				"Contact Us Form",
				emailBody.ToString(),
				true);
			<script>(function () { $("#loader").hide(); $("#ContactForm").html("<h2>Thanks!</h2> We will be in contact with you within one business day.") })();</script>
		}

	}
}
